Repository sepandhaghighi/art, pull requests merged in 2024-10, with the labels that each got.

#282 Python 3.13
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/test.yml
  CHANGELOG.md
  setup.py
Labels: test, document

#283 Add/line function
  CHANGELOG.md
  art/__init__.py
  art/functions.py
  art/params.py
  art/tests/test.py
  art/utils.py
Labels: enhancement, new feature

#284 Add/limit gh action run
  .github/workflows/test.yml
  CHANGELOG.md
Labels: test
